#contecliente1 {
  width: 100%;
  height: 100%;
}

.contecliente2 .header{
  display: flex;
  width: 600px;
  height: 350px;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 25%;
  margin-right: 20%;
  background-color: black;
  border-radius: 15px;
  opacity: 0.8;
}

#contecliente1 .contecliente2 .buttonsUser .log {
  font-size: 15px;
  color:red;
}

#cliente .contecliente2 .buttonsUser .editar {
  font-size: 15px;
  color:yellow;
}

.buttonsUser {
  display: flex;
  justify-content: space-around;
}

.contecliente2 .header .perfil h2{
  font-weight: 500;
  padding: 0px 20px;
  padding-top: 15px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.contecliente2 .header .perfil span{
  font-weight: 500;
  color: white;
}
.contecliente2 .header .perfil img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border-style: solid;
  margin-left: 10%;
  margin-top: 3%;
  margin-right:5%;
  margin-bottom:5%;
}
.contecliente2 .header .saldo {
  width: 100%;
  height: 80%;
  margin-left: 20%;
  margin-top:15%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;

}

.contecliente2 .header .saldo h3{
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  text-align: center;

}

.contecliente2 .clientegeneral {
  display: flex;
  width: 600px;
  height: 350px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 25%;
  margin-right: 20%;
  background-color: black;
  border-radius: 20px;
  opacity: 0.8;
}

#contecliente1 .contecliente2 #navbarcont{
margin-bottom: 0%;
margin-right: 100%;
margin-left: 25%;
margin-top: 0%;


}

