#cliente {
  display: flex;
  width: 100%;
  height: 100vh;
  color: white;
}

#cliente .left .buttonsUser .log {
  font-size: 15px;
  color:red;


}

#cliente .left .buttonsUser .editar {
  font-size: 15px;
  color:yellow;




}

.buttonsUser {
  display: flex;
  justify-content: space-around;
}

.left{
  width: 75%;
  background-color: black;
  color: white;
}
.left .header{
  display: flex;
  width: 600px;
  margin: 0px auto;
}
.left .header .perfil{
  font-size: 12px;
  text-align: center;
}
.left .header .perfil h2{
  font-weight: 200;
  padding: 0px 20px;
  padding-top: 15px;
  font-size: 20px;
  color: rgb(167, 167, 167);
}
.left .header .perfil span{
  font-weight: 600;
  color: white;
}
.left .header .perfil img{
  width: 120px;
  height: 125px;
}
.left .header .saldo{
  margin-left: 30px;
}
.left .header .saldo h3{
  font-size: 2.3em;
  margin-bottom: 0px;
  margin-top: 33%;
  color: white;
  text-align: center;
}
.left .header .saldo p{
  text-align: center;
  color: rgb(87, 86, 86);
}
.left .acciones{
  position: relative;
  top: 15%;
  text-align: center;
}
.left .acciones ul{
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  display: flex;
}
.left .acciones ul li:first-child{
  margin-left: auto;
  margin-right: 15px;
}
.left .acciones ul li:last-child{
  margin-right: auto;
}
.left .acciones ul li a{
  border-radius: 0px;
  font-size: 18px;
  height: 45px;
  width: 200px;
  border: white solid 1px;
  font-weight: 600;
  color: white;
}
.left .acciones ul li:hover{
  background-color: rgba(37, 37, 37, 0.541);
}
.left .acciones .navBar{
  display: none;
}




.right{
  width: 25%;
  background-color: #fffe00;
  display: flex;
}
.right .rutas{
  margin: auto;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}
.right .rutas ul{
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.right .rutas ul li{
  padding-bottom: 7px;
}
.right .rutas ul li a{
  text-decoration: none;
  color: black;
}
.right .rutas  ul li a:hover{
  color: rgb(77, 77, 77);
}


@media only screen and (max-width: 850px){
  .left{
    width: 70%;
  }
  .left .header{
    display: flex;
    width: 380px;
    margin: 0px auto;
  }
  .left .acciones{
     top: 15%;
  }
  .left .acciones ul li a{
    width: 150px;
  }
  .right{
      width: 30%;
  }
}



@media only screen and (max-width: 650px){
  .left{
    width: 100%;
    background-color: rgb(228, 228, 228);
    background-image: url('../Images/background.png');
    background-size: 150%;
    background-repeat: no-repeat;
  }
  .left .header{
    width: 100%;
    height: 20%;
    margin-top: 5%;
    padding: 0px 20px;
  }
  .left .header .perfil img{
    width: 90px;
    height: 90px;
  }
  .left .header .saldo{
    margin-left: 15px;
  }
  .left .header .saldo h3{
    margin-top: 45px;
    font-size: 30px;
  }
  .left .acciones ul{
    display: none;
  }
  .left .acciones .navBar{
    display: block;
  }
  .right{
    display: none;
  }

}