#recargardinero{
  position: relative;
  width: 100%;
  height: 100vh;
}
#recargardinero #svg1{
  position: absolute;
  top: 0px;
  z-index: 3;
}
#recargardinero #svg2{
  transform: scaleX(-1);
  position: absolute;
  top: 5%;
  z-index: 2;
}
#recargardinero #svg3{
  position: absolute;
  top: 13%;
  z-index: 1;
}
#recargardinero #svg3 path{
  fill: #fff45d6c;
}
#recargardinero .titulo{
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#recargardinero .titulo h1{
  color: rgb(255, 255, 255);
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 50px;
}

#recargardinero .recarga{
  position: relative;
  margin: 0px auto;
  top: 20%;
  padding: 50px 30px;
  padding-bottom: 20px;
  width: 40%;
  max-width: 375px;
  height: 70%;
  background-color: #fffdfdd2;
  border: solid 1px #2929293f;
  z-index: 5;
  text-align: center;
}
#recargardinero .recarga a {
  margin-right: 0px;
  color: black;
  font-weight: bold;
  background-color: #fffe00 !important;
  box-shadow: 3px 3px 3px rgba(51, 50, 50, 0.575) !important;
}
#recargardinero .recarga a:hover {
  box-shadow: none !important;
}
#recargardinero .recarga div p{
  color: #4b4b4b;
  text-align: justify;
}
#recargardinero .recarga .codigo{
  margin: 50px 0px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
}
#recargardinero .recarga div span{
  font-size: 35px;
  font-weight: bold;
}
#recargardinero .recarga .confirmar{
  margin-top: 30%;
}

  