#enviardinero{
  position: relative;
  width: 100%;
  height: 100vh;
}
#enviardinero #svg1{
  position: absolute;
  top: 0px;
  z-index: 3;
}
#enviardinero #svg2{
  transform: scaleX(-1);
  position: absolute;
  top: 5%;
  z-index: 2;
}
#enviardinero #svg3{
  position: absolute;
  top: 13%;
  z-index: 1;
}
#enviardinero #svg3 path{
  fill: #fff45d7e;
}
#enviardinero .titulo{
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
#enviardinero .titulo h1{
  color: rgb(255, 255, 255);
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 50px;
}
#enviardinero .envia{
  margin: 0px auto;
  top: 20%;
  padding: 30px 30px;
  padding-bottom: 20px;
  width: 40%;
  max-width: 375px;
  min-width: 300px;
  height: 70%;
  background-color: #fffdfdef;
  border: solid 1px #6b6b6b3f;
  z-index: 5;
  text-align: center;
}
#enviardinero .envia .destino{
  margin-bottom: 0px !important;
}
#enviardinero .envia .destino button{
  background-color: #fffe00;
  padding: 5px 7px;
  border-radius: 5px 0px 0px 5px;
}
#enviardinero .envia .destino button svg{
  fill: black;
}
#enviardinero .envia .destino input{
  height: 42px;
  margin: 0px;
}
#enviardinero .envia .total{
  height: 180px;
  display: flex;
  align-items: center;  
  justify-content: center;
}
#enviardinero .envia .total h1{
  font-size: 75px;
}
#enviardinero .envia .mensaje{
  margin: 0px;
}
#enviardinero .envia .confirmar input{
  width: 17px;
  height: 17px;
}
#enviardinero .envia .confirmar label{
  line-height: 17px;
  text-align: justify;
  margin-left: 5px;
  color: #3b3b3b;
}
#enviardinero .send button{
  position: relative;
  color: black;
  font-weight: bold;
  background-color: #fffe00 !important;
  margin-right: 0px;
  top: 50px;
  box-shadow: 4px 4px 5px rgba(110, 110, 110, 0.575) !important;
}
#enviardinero .send button:hover {
  box-shadow: none !important;
}

  