*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  background-size: cover;
  width: 100%;
}
*/ #contehome1 {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(53, 53, 53), rgb(255, 255, 255));
  box-shadow: none !important;
  border-color: transparent !important;
  margin-top: 0px !important;
}

#contehome1 #henrybankhome {
  width: 70%;
  height: 70%;
  margin-left: 0% !important;
  margin-top: 0%;
}

#contehome1 .contehome2 {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
}

.loginbuttonhome {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
  margin-bottom: 10%;
  color: black;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgb(73, 70, 70);
  background-color: yellow;
  border-color: transparent !important;
}

.loginhomebutton:hover {
  background-color: rgb(167, 167, 167) !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.regconthome .registerbuttonhome {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: black;
  font-weight: 500;
  box-shadow: 5px 5px 5px rgb(73, 70, 70);
  background-color: white;
  border-color: transparent !important;
}

.registerbuttonhome:hover {
  background-color: rgb(167, 167, 167) !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
