body {
  background-color: #f5f50a;
}

.login {
  height: 900px;
 
  
}


.login2 {
  border-radius: 15px;
  margin-top: 5%;
  background-color: white
}

#conte1 {
  width: 700px;
  height: 800px;
}

#conte1 img {
  width: 800px;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width:700px) {
#conte1 #row {
    width: 400px;
  }
}