#login{
  margin: 20px auto;
  width: 400px;
  background-color: rgba(243, 242, 242, 0.233);
}
#login img{
  width: 400px;
}
#login div h4{
  position: relative;
  top: -5px;
  margin-bottom: 30px;
  text-align: center;
}
#login .contenedor{
  margin-top: 30px;
  padding-bottom: 20px;
}
#login .link{
  margin-left: 0px;
}
#login .link a{
  color: #666666;
  font-size: 15px;
  position: relative;
  left: 15px;
}
#login .inicio input{
  margin-left: 0px;
  background-color: yellow;
  color: #000;
  border: none;
  font-weight: bold;
  border-radius: 0%;
  padding: 12px 40px !important;
  box-shadow: 5px 5px 5px rgb(167, 167, 167);
}
#login .inicio input:hover{
  color: #fff;
  box-shadow: none;
}

#login .inicio button{
  
  padding: 12px 58px !important;
  box-shadow: 5px 5px 5px rgb(167, 167, 167);
}