#onboarding {
  position: relative;
}
#onboarding .titulo {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
#onboarding .titulo img {
  width: 125px;
}
#onboarding .titulo h1 {
  color: white;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 50px;
}
#onboarding #svg1 {
  position: absolute;
  top: 0px;
  z-index: 2;
}
#onboarding #svg2 {
  transform: scaleX(-1);
  position: relative;
  top: 50px;
  z-index: 1;
}
#onboarding #svg3 {
  position: relative;
  top: 100px;
  z-index: 0;
}
#onboarding #svg3 path {
  fill: #ebeb1e77;
}

#onboarding .estilo {
  color: #000;
  border: none;
  font-weight: 800;
  border-radius: 0%;
  width: 250px;
  height: 50px;
  font-size: 21px;
}

#onboarding .login {
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 250px;
  position: relative;
  top: 20px;
  z-index: 5;
}

#onboarding .login a {
  background-color: #fffe00;
  box-shadow: 3px 3px 5px rgba(51, 50, 50, 0.575);
}
#onboarding .login a:hover {
  box-shadow: none;
}

#onboarding .signin {
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 250px;
  position: relative;
  top: 60px;
  z-index: 5;
}
#onboarding .signin a {
  background-color: rgba(200, 196, 196, 0.664);
  box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.575);
}
#onboarding .signin a:hover {
  box-shadow: none;
}

@media only screen and (max-width: 390px) {
  #onboarding .titulo h1 {
    color: white;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 27px;
  }
  #onboarding .titulo img {
    width: 75px;
  }
  #onboarding #svg1 {
    position: absolute;
    top: 59%;
    height: 150px;
    z-index: 5;
  }
  #onboarding #svg2 {
    transform: scaleX(-1);
    position: absolute;
    height: 150px;
    top: 65%;
    z-index: 4;
  }
  #onboarding #svg3 {
    position: relative;
    height: 150px;
    top: 85%;
    z-index: 3;
  }
}
