#nav{
    background-color: transparent !important;
}
.btn-light{
    font-size: medium;
    background-color: white;
    border-radius: 0px;
}

.btn-dark{
    font-size: medium;
    background-color: black;
    border-radius: 0px;
}

.m-auto {
 display:flex;
 align-content: flex-start;
 height: 200px;
}

.contbot {
    display:flex;
    align-content: space-between;
}


.conttop {
    margin: 0px auto;
}
.conttop a{
    font-size: 10px;
    width: 60px;
    height: 70px;
}
.conttop a:not(:last-child){
    margin-right: 10px;
}