.buttonSW {
    height: 80px;
    text-align: center;
    font-size: medium;
    margin-right: 15px;
    border-radius: 0px;
    border-color: transparent !important;
    transition: box-shadow .2s ease;
    box-shadow: 2px 2px 3px 3px gray;
    
}
.btn-light:hover {
    background-color: rgb(167, 167, 167) !important;
    box-shadow: none !important;
}

.buttonSB {
    font-size: medium;
    margin-right: 15px;
    border-radius: 0px;
    border-color: transparent !important;
    background-color: black !important;
    transition: box-shadow .2s ease;
    box-shadow: 2px 2px 3px 3px gray;
    height: 80px;
}

.btn-dark:hover {
    background-color: rgb(80, 80, 80) !important;
    box-shadow: none !important;
}

.buttonRB {
    margin-right: 15px;
    margin-left: 10px;
    transition: box-shadow .2s ease;
    box-shadow: 2px 2px 3px 3px gray;
}

.buttonRW {
    box-shadow: 2px 2px 3px 3px gray;
    margin-bottom: 5%;
}

.m-auto {
 height: 200px;
 
 margin-bottom: 5%;
}

.conttop {
    position: absolute;
    top:20%;
    margin-left: 0%;
    margin-right: 30%;
    height: 100%;
    width: 100%;
}
.conttop a{
    font-size: 10px;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}
.conttop a:not(:last-child){
    margin-right: 3%;
}


.contbot {
    position: absolute;
    text-align: center;
    top:65%;
    right: 70%;
    left: 0%;
    padding: 10px;
    width: 100%;
    
    
}
